#(project
  (#(meta
     (#(name kla)
      #(description "An LFE Wrapper Library used to Dress Up Erlang Libraries in a Lispy Costume")
      #(version "0.6.0")
      #(keywords ("LFE" "Lisp" "Library" "Utility"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/kla")))))
   #(app
     (#(mod #(kla ()))))
