{erl_opts, [debug_info]}.

{lfe_first_files, []}.

{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.

{deps, [
   {lfe, {git, "git://github.com/rvirding/lfe.git", {tag, "v1.0"}}}
  ]}.

{plugins, [
   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.3.0"}}}
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.
