{plugins, [
   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.4.0"}}}
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.

{profiles, [
   {test,
    [{deps,
       [{ltest, {git, "https://github.com/lfex/ltest.git", {tag, "0.8.1"}}}]},
     {eunit_compile_opts, [
       {src_dirs, ["test"]}
      ]}
    ]}
  ]}.
